.mypy_cache
__pycache__
.local.env
venv
.idea
osbot_utils.egg-info
dist
*.env
tests/unit/helpers/python_call_flow/_saved_html
tests/unit/helpers/python_call_flow/actions/_saved_html
tests/unit/helpers/python_call_flow/export/_saved_html
